.Presentation{
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	text-align: justify;
}
.Presentation2{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	text-align: center;
	text-align: justify;
}
p{
	margin-right: 
	position:right;
}

.row{
	padding: 60px;
}

h1{
	text-align: center;
}

.tarif{
	color: grey;
	font-style: italic;
}

h2{
	color: #C64C4C;
}

.FAQ{
	text-align: center;
}

.GFAQ{
	padding-bottom: 100px;
}
.btn.btn-link{
	color: #C64C4C;
	font-family: "helvetica";
	font-size: 20px;
	font-style: bold;
}
.accordion{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 100px;
}

.formulaire{
	padding-left: 200px;
	padding-right: 200px;
}
h3{
	text-align: center;
}
.contacter{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 100px;
	text-align: center;


}
